.fingerprint {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-right: .3em;
  line-height: 14px;
  background-image: url("../img/glyphicons-halflings-4f613631b0.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.transparent {
  background-image: url("../img/gifs/transparent-ee34bd86c3.gif");
}